{% extends "base.html" %}
{% block body %}
<div class="col-lg-12">
		<h2 class="form-signin-heading">Alguns dos nossos produtos</h2>
		<div class="fb-page" width=1000  style="margin-left: 15%; margin-right: -15%;" data-href="https://www.facebook.com/climacolandia/" data-tabs="timeline" data-small-header="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/climacolandia/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/climacolandia/">Climacolândia Doces</a></blockquote></div>
</div>
{% endblock %}	